:root{

    
    --bg-color: #243342;
    --heading-color: #4CD137;
    --card-bgColor: #94E387;
    --table-headColor: #0F2A0B;
    --text-sec-color: #34495E;
    --text-prim-color: #10161C;
}

/* -------- */
body{
    width: 100vw;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}
.container{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 40px;
    
}

.leftP{
    position: fixed;
    width: 15vw;
    /* background-color: azure; */
    margin-right: 40px;
    padding: 30px 0px;
    margin-left: 20px;
    position: fixed;
   margin-right: 200px;
}



/* --------------- search section------------------------- */
.container-1{
    position: relative;
    margin-left: 20px;
    padding-top: 40px;
    width: 10vw;
    height: 70vh;
   
    display: flex;
    background-color: var(--card-bgColor);
    border-radius: 50px;
    color: azure;
   
   
}

.container-1 .navImg{
    display: grid;
    margin-top: 50px ;
}
.container-1 .navImg img{
    grid-template-columns: repeat(1,6fr);
    width: 20px;
    color: #243342;
    
}
.container-1 nav{
    margin-top: 47px;
    grid-template-columns: repeat(1,6fr);
    margin-left: -20px;
}
.container-1 nav ul {
    list-style-type: none;
    /* margin: 45px 1px; */
}

            /* -----theme section--------- */
.container .theme{
    width: 80px;
    background-color: var(--card-bgColor);
    border-radius: 50px;
    margin-left: 56px;
}



 .container-1 ul li:hover {
    background-color: var(--bg-color);
    color: var(--heading-color);
    border: none;
    border-radius: 5px;
    box-sizing: 10px;
   box-shadow: 1px 2px 1px;

} 

nav ul a{
    text-decoration: none;
    color: azure;
}

.container-1 .navImg img:hover{
    fill:#243342
}


#themeIcon{
    width: 30px;
    transition: transform .3s ease;
}

.light-mode{
    --bg-color: #9AA4AF;
    --heading-color: #4CD137;
    --card-bgColor: #94E387;
    --table-headColor: #0F2A0B;
    --text-sec-color: #10161C;
    --text-prim-color: #34495E;
}

.light-mode #themeIcon{
    
    margin-left: 50px;
}
.container .container-1{
   display: flex;
   justify-content: center;
    margin-top: 40px;
}
/* #row-1{
    
    display: grid;
    grid-template-columns: repeat(1,2fr);
} */
/* ---------------right side------------- */
.container-2{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background-color: var(--text-sec-color);
    margin-left: 200px;
    align-items: center;
    
}

.symbolT{
    position: fixed;
    background-color: var(--card-bgColor);
    display: grid;
    height: 150px;
    width: 75px;
    grid-template-columns: repeat(1,2fr);
    padding: 5px 8px;
   z-index: 999;
    margin-left: 880px;
}


.symbolT hr{
    width: 40px;
    margin-left: 10px;
   
}
.symbolT img{
    margin-left: 4px;
    width: 45px;
}


.coverY{
    width: 55px;
    height: 55px;
    background-color: #243342;
}
.coverN{
    width: 55px;
    height: 55px;
    background-color: var(--card-bgColor);
}

.symbolT #sUp,.symbolT #sDwn{
    position: relative;
    align-items: center;
    justify-content: center;
   
}

.top-level{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
    justify-content: center;
    margin-left: 300px;
    margin-bottom: 20px;
}
#txt-search{
   
    width: 400px;
    height: 40px;
    margin-left: 1px;
    border-radius: 20px;
    border: 1px solid var(--heading-color);
}

#txt-search:hover{
    border: 1px solid var(--heading-color);
    box-shadow: 1px 2px 5px var(--card-bgColor);
}
#btn-search{
   
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    
    background-color: var(--heading-color);
    margin-left: 10px;
}
#btn-search img{
    width: 30px;
    
}
#btn-search:hover{
    box-shadow: 1px 2px 5px var(--card-bgColor);
}

 .search-details{
    margin-top: 30px;
    display: grid;
   grid-template-columns: repeat(2,1fr);
    width: 70vw;
    height: 60vh;
    background: #adbd4f;
    padding-left: 10px;
    padding-top: 100px;
}

/* -------------card section-------------- */

.wRow{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-left: 25px;
}
.container-2 .wCard h4{
    margin-top: 5px;
}
.container-2 .wCard h4,.container-2 .wCard h6{
    margin-left: 10px;

}
.container-2 .wCard{
    width: 480px;
    height: 300px;
    background: var(--card-bgColor);
}

.container-2 .wImage{
    width: 400px;
    height: 220px;
 
    
}

.container-2 .wCard .midRow {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2;
}

.container-2 .wCard .midRow img{
    width: 140px;
    margin-top: -35px;
    margin-left: 10px;
    margin-bottom: -100px;
}
.container-2 .wCard .midRow p{
    margin-top: 15px;
    margin-left: 30px;
    margin-top: 10px;
    
}
.container-2 .wCard .midRow #txtCond{
    margin-left: 120px;
    margin-top: 20px;
    color: var(--text-sec-color);
}

.container-2 .wCard .bRow{
    display: grid;
    grid-template-columns: repeat(4 ,2fr) ;
   
    /* margin-top: 20px; */
    margin-left: 60px;
}



#windSelect,#presSelect, #dewSelect{
    height: 20px;
    width: 20px;
}

.container-2 .wCard .bRow .headSec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container-2 .wCard .bRow .dSub .dHead{
    font-size: 10px;
    font-weight: bold;
    color: var(--text-prim-color);
}
.container-2 .wCard .bRow .dSub {
    margin-top: 25px;
    color: var(--text-sec-color);
}

.container-2 .wCard .bRow .dSub .dBody{
    margin-top: -8px;
    font-size: smaller;
    font-weight: 400;
   
}



/*    map */

#map{
    height: 200px;
    margin-bottom: 100px;
}


.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0,0.3);
    margin: 10px;
    padding: 0 .5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.custom-map-control-button:hover{
    background: rgb(235, 235,235);
}


/* ------Forecast--------------------- */


.forecast{
    position: relative;
    width: 70vw;
    height: 90vh;
    margin-left: 200px;
    background-color: var(--text-sec-color);
}


.forecast h1{
    color: var(--heading-color);
    text-align: center;
    font-weight: bolder;

}

.forecast h3{
    margin-top: 60px;
    margin-left: 30px;
    font-weight: 600;
    color: var(--card-bgColor);
}




/* -------------weather details-------------- */

.wDetails{
    position: relative;
    width: 70vw;
    height: 90vh;
    margin-left: 200px;
    background-color: var(--card-bgColor);
}

.wDetails h1{
    color: var(--heading-color);
    text-align: center
    
}



    /* ----------forecast cards-------- */

#forcastW{
    display: flex;
    justify-content: center;
}
.rowF{
   
    margin-top: 60px;
  align-items: center;
  
}

 .cardsF{
    display: flex;
   flex-direction: row;
    overflow: hidden;
    margin-left: 140px;
    margin-right: 100px;
    
    grid-template-columns: repeat(3,1fr);
   
    gap: 20px;
}

 .cardF{
   padding: 10px;
    
    width: 250px;
    height: 200px;
    background: var(--card-bgColor);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.cardF h4{
  margin-top: 12px;
  font-weight: 700;
  color: var(--table-headColor);
}

.cardF .condF {
    display: grid;
    grid-template-columns: repeat(1,2fr);
    gap: 20px;
    width: 80px;
    height: 50px;
    margin-top: 20px;
    background: #243342;
}
.cardF .condF img{
    width: 80px;
    height: 60px;
    background: #243342;
}

.cardF .condF p{
    margin-top: -15px;
    margin-left: 2px;
    font-size: 9px;
    font-weight: 700;
    color: var(--text-sec-color);
}

#wConditionFTxt{
    font-size: 9.4;
}
.cardF .descriptionW{
    margin-top: -40px;
}

.cardF .descriptionW p{
    font-size: smaller;
    font-weight: 600;
    
    margin-left: 125px;
    margin-bottom: 5px;
    color: var(--text-sec-color);
}

.cardF .perciptionRow{
    margin-top: 35px;
    height: 4px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 65px;
}
#txtPerciption {
    font-size: 12px;
    font-weight: 610;
    margin-left: 2px;
}
.perciptionRow #txtPerciptionV {
    font-size: 12.5px ;
    font-weight: 650;
    margin-left: 2px;
    color: var(--table-headColor);
}






/* .symbolTF{
    position: relative;
    background-color: var(--card-bgColor);
    display: grid;
    height: 50px;
    width: 34px;
    grid-template-columns: repeat(1,2fr);
    padding: 5px 8px;
   
    margin-left: 880px;
}


.symbolTF hr{
    width: 15px;
    margin-left: 10px;
   margin-top: 4px;
   margin-bottom: 4px;
}
.symbolTF img{
    margin-left: 4px;
    width: 15px;
}


.symbolTF .coverY{
    width: 22px;
    height: 16px;
    background-color: #243342;
}
.symbolTF .coverN{
    width: 15px;
    height: 16px;
    background-color: var(--card-bgColor);
}


.symbolTF #sUp,.symbolTF #sDwn{
    position: relative;
    align-items: center;
    justify-content: center;
   
} */

/* ---------------wether Maps-------------- */

#wethMaps{
    display: flex;
    justify-content: center;
}

.wetherMps{
    position: relative;
    width: 70vw;
    height: 90vh;
    margin-left: 132px;
    background-color: var(--text-sec-color);
}

#wethMaps h1{
    text-align: center;
    color: var(--heading-color);
}


.mapContainer{
    
    width: 800px;
    height: 400px;
    margin-top: 80px;
    margin-left:  135px;
    background-color: var(--text-prim-color);
}

.mapContainer img{
    width: 600px;
    height: 395px;
}

.mapBar{
    width: 600px;
    height: 65px;
    display: grid;
    background-color: var(--card-bgColor);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 240px;
    padding: 4px 0;
}

.mapItem{
    grid-template-columns: repeat(1,2fr);
}

.mapItem img{
    width: 30px;
    height: 30px;
}

.mapItem a{
    text-decoration: none;
    color: var(--text-sec-color);
}

/* -------trends-Historic data------- */

#trendsHis{
    display: flex;
    justify-content: center;
}

.historicDataContainer{
    position: relative;
    width: 70vw;
    height: 90vh;
    margin-left: 132px;
    background-color: var(--text-sec-color);
    justify-content: center;
    text-align: center;
}


.historicDataContainer h1{
    color: var(--heading-color);
}